.margin{
    width: 1100px;
    height: 100vh;
    background: white;
    padding-top: 101px;
    margin: auto;
}


@media (max-width: 900px) and (max-height: 900px){
    .margin{
        width: 100%;
        padding-top: 0;
    }
}