strong{
    color: black;
}

p{
    text-align: center;
    color: grey;
    line-height: 37px;
    font-size: 19px;
}

.sizeWrapper div{
    float: right;
    font-size: 20px;
    margin-left: 2px;
    border: 1px solid black;
    width: 37px;
    height: 28px;
    text-align: center;
    border-radius: 3px;
}
.sizeWrapper div:hover{
    background: #FFCDD2;
}

.sizeWrapper{
    width: 823px;
    height: 48px;
    max-width: 96%;
}

.eventos .imageWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventos .imageWrapper img{
    margin: auto;
    max-width: 100%;
}

.eventos .margin{
    padding-top: 0;
    background: transparent;
}
.eventos.imageSection{
    background: grey;
    margin-top: 70px;
}

@media (max-width: 900px) and (max-height: 900px){
    .sizeWrapper{
        display: none;
    }

    .eventos img{
        width: 100%;
    }
}