.firstBanner {
    width: 1100px;
    height: 405px;
    background-color: white;
    margin: auto;
}

.firstBanner img{
    width: 1100px;
    height: 405px;
}

.secondBanner {
    width: 1100px;
    height: 175px;
    margin: auto;
    margin-top: 20px;
    background: black;
    display: flex;
    height: 172px;
}

.smallBanner{
    height: 100%;
    position: relative;
    display: flex;
    margin:auto;
}

.smallBanner img{
    max-width: 98%;
    max-height: 100%;
    margin: auto;
    margin-left: 8px;
}

.secondBanner .smallBanner span{
    position: absolute;
    top: 21px;
    left: 32px;
    font-family: 'Maven Pro', serif;
    font-size: 33px;
    font-weight: 600;
    color: white;
}

.smallBanner:hover span{
    /*color: #BDBDBD;*/
    color: black;
}

.thirdBanner{
    width: 1100px;
    height: 175px;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.thirdBanner a{
    margin: auto;
    width: 33%;
}

.thirdBanner a:hover{
    background: #FFEBEE;
}