.firstBannerWrapper{
    background: gray;
}

.firstBanner {
    width: 1100px;
    height: 405px;
    background-color: white;
    margin: auto;
}

.firstBanner img{
    width: 1100px;
    height: 405px;
}


.firstBanner .overlay{
    position: absolute;
    bottom: 12%;
    right: 47px;
    z-index: 100;
    color: white;
    background: transparent;
}
.firstBanner .overlay *{

    font-family: Pacifico !important;
    text-shadow: 2px 2px black;
    font-size: 2em;
    text-align: right;
}

.secondBanner {
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    background: black;
    display: flex;
    height: 172px;
}

.smallBanner{
    height: 100%;
    position: relative;
    display: flex;
    margin:auto;
}

.smallBanner img{
    max-width: 98%;
    max-height: 100%;
    margin: auto;
    margin-left: 8px;
}

.secondBanner .smallBanner span{
    position: absolute;
    top: 21px;
    left: 32px;
    font-family: 'Maven Pro', serif;
    font-size: 33px;
    font-weight: 600;
    color: white;
}

.smallBanner:hover span{
    color: black;
}

.thirdBanner{
    width: 1100px;
    height: 175px;
    margin: auto;
    margin-top: 60px;
    display: flex;
}

.thirdBanner a{
    margin: auto;
    width: 33%;
}

.thirdBanner a:hover{
    background: #FFEBEE;
}

.thirdBanner img{
    margin: auto !important;
}