.redText{
    color: #D61414;
    font-weight: 600;
}
.centered{
    margin: auto;
}

.logo{
    margin-top: 30px;
    width: 172px;
}

.footer{
    background: #202020;
    width: 100%;
    height: 203px;
    border-bottom: 10px solid #D61414;
}

#footer{
    padding-top: 1px;
}

#footer a{
    color: white;
    line-height: 23px;
}

#footer a:hover {
    color: #D61414;
}
#footer .bottomStripe{

}