body{
    position: relative;
}

.redText{
    color: #D61414;
    font-weight: 600;
}
.centered{
    margin: auto;
}

.logoBottom{
    margin-top: 30px;
    width: 172px;
}

.footer{
    background: #202020;
    width: 100%;
    height: 203px;
    border-bottom: 10px solid #D61414;
    position: absolute;
    bottom: 0;
}

.separator{
    height: 300px;
}

#footer{
    padding-top: 1px;
}

#footer a{
    color: white;
    line-height: 23px;
    margin-right: 12px;
}

#footer a:hover {
    color: #D61414;
}

@media (max-width: 1100px){

    #footer .categories,
    #footer img{
        margin-left: 15%;
    }
}

@media (max-width: 900px) and (max-height: 900px){
    .categories{
        display: none;
    }

    #footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer{
        display: flex;
        align-items: center;
        height: 100px;
    }

    .separator{
        height: 100px;
    }

    #footer img{
        margin: auto;
    }
}